@import 'tailwindcss';

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/karla-v33-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/karla-v33-latin-700.woff2') format('woff2');
}

/* https://tailwindcss.com/docs/theme#font-family */
@theme {
  --color-white: hsl(0, 0%, 100%);
  --color-gray-500: hsl(218, 22%, 67%);
  --color-teal-500: hsl(179, 62%, 43%);
  --color-teal-400: hsl(179, 48%, 52%);
  --color-teal-100: hsl(204, 43%, 93%);
  --color-green-400: hsl(71, 73%, 54%);
  --font-sans:
    'Karla', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --spacing-100: 0.5rem; /* 8px */
  --spacing-200: 1rem; /* 16px */
  --spacing-300: 1.5rem; /* 24px */
  --spacing-500: 2.5rem; /* 40px */
}

@layer base {
  html {
    @apply antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  body {
    background-color: var(--color-teal-100);
  }
}

@utility text-preset-1 {
  font-weight: 700;
  font-size: 2rem; /* 32px */
  line-height: 1.15;
  letter-spacing: -0.4px;
}

@utility text-preset-2 {
  font-weight: 700;
  font-size: 1.5rem; /* 24px */
  line-height: 1.15;
  letter-spacing: -0.25px;
}

@utility text-preset-3 {
  font-weight: 700;
  font-size: 1.125rem; /* 18px */
  line-height: 1.15;
  letter-spacing: -0.25px;
}

@utility text-preset-4-bold {
  font-weight: 700;
  font-size: 1rem; /* 16px */
  line-height: 1.45;
  letter-spacing: -0.25px;
}

@utility text-preset-4-regular {
  font-weight: 400;
  font-size: 1rem; /* 16px */
  line-height: 1.65;
  letter-spacing: -0.5px;
}

@utility text-preset-5 {
  font-weight: 400;
  font-size: 0.875rem; /* 14px */
  line-height: 1.45;
  letter-spacing: 0px;
}
